.container {
    display: flex;
    border: 1px solid black;
    width: 50%;
    height: 600px;
    flex-direction: column;
}

.createDiv {
    display: flex;
    height: 100%;
}

.smallerDiv {
    display: flex;
    width: 100%; 
}